// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Custom
@import "custom";

$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

.mw-400px {
    max-width: 400px;
}

body {
    background: linear-gradient(90deg, #63a9d0, hsl(227deg 100% 97%));

    .cursor-pointer {
        cursor: pointer;
    }

    .card-product {
        border: 1px solid #ccc;
        .prices {
            margin-top: -23px;
        }
        img {
            height: 177px;
            object-fit: cover;
        }
    }
}
